.main{
    position: relative;
    width: 100%;
    height: 75vh;
   overflow: hidden;
}
.home-img{
    position: absolute;
    width: 100%;
    height: 110%;
    object-fit: cover;
    object-position: top left;
    filter: brightness(60%);
}

.home-img-text{
    /* background-image: linear-gradient(to top,rgb(255, 255, 255),transparent 30%,transparent ); */

    position: absolute;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
}


.home-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-body > .button{
    margin-top:4em
}

.best-items{

    text-align: center;
    padding: 0 2em;
}


