.main{
    display: grid;
    grid-template-columns:1fr;
    justify-items: center;
    align-content: center;
    width:100%;
    max-width: 50em;
    margin: auto;
    margin-top: 6em;
    gap: 3em;
    
  
}
.main > *{
    box-sizing: border-box;
}
.item-details > img {
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.item-details{
    
    width: 100%;
    padding: 2em 2em;
    height: fit-content;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 3em 0em #8389947a;
}


.item-desc{
    width: 100%;
    padding:1em 2em;
    border-radius: 1em;
    box-shadow: 0 0 3em 0em #8389947a;
    
}

.item-elements{
    padding:0.5em 0.5em;
    background-color:#eeeeeeb6;
    color: rgb(90, 89, 89);
    border: 1px solid #eeeeeeb6;
    border-radius: 10px;
}


.item-comment-container{
    width:100%;
    padding:1em 2em;
    background-color: white;
    border-radius: 1em;
    display: grid;
    gap: 2em;
}
.item-comment-container .item-comments{
    height: fit-content;
    max-height: 15em;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.25em;
}

.item-comment-container .item-comments .item-comment{
    box-sizing: border-box;
    padding: 0 1em;
    max-width:50%; 
    border-radius: 1em;
    font-size: 1.25em;
    word-break: break-all;
}
.item-comment-container .comment-form{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 2em;
}
.item-comment-container .item-comments .item-comment > p{
    margin: 0;
    padding: 0;

}

.item-comment-container .item-comments .item-comment > div > a{
    color: blue;
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    opacity: 0.75;
}
.item-comment-container .item-comments .item-comment > div > a:visited{
    color: blue;
opacity: 0.85;
}
.item-comment-container .item-comments .item-comment > div > p{
    margin: 0;
    padding: 0;
    font-size: 0.60em;
    opacity: 0.75;
}
input{
    border-radius: 0.5em;
}
input:focus{
    border: 0.2em solid var(--color);
}