.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-options{
    margin: 3em 0;
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 0 4em 0em rgba(218, 219, 221, 0.479);
    width: 70vw;
}

.search-form{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 1em;
    width: 100%;
}
.search-form > *{
    width: 100%;

}
@media only screen and (min-width: 0px) {
    .search-form{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1em;
    
    }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 850px) {
    .search-form{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1em;
    
    }
}


.group-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.group-info select{
    padding: 0;
    text-align: center;
}
input{
    padding: 0.5em;
    border: 1px solid #eee;
}

select{
    height: 3em;
    background-color: none;
    padding: 0.5em 2em;
    border: solid 2px rgba(245, 229, 229, 0.37);
    border-radius: 0.5em;
}

select:focus{
    border: solid 2px var(--color);
    outline: none;
}

.search-details{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.page-counter{
    display: flex;
    gap: 0.5em;
    margin-top: 3em;
    
}

.page-counter .button{
    padding: 0;
    background-color: transparent;
    color: black;
    text-align: center;
    border: solid 0.19em var(--color);
    width: 1.5em;
    height: 2em;
}
.page-counter .button:hover{
    color:white;
    background-color: var(--color-hover);
}




